# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Environment files
.env
.venv/
venv/

# Gradio, VSCode, PyCharm
.gradio/
# .vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Ignore local folders
dataset/
database/
notebooks/
mbbs_bot/
faiss_index/

# Ignore test or temp files
*.tmp
*.bak
.env
